trigger:
    - master

pool: default

steps:
    - task: PowerShell@2
      inputs:
          filePath: "src/Config-Environment.ps1"
    - task: NodeTool@0
      inputs:
          versionSpec: "12.x"
      displayName: "Install Node.js"
    - script: |
          npm install
          npm run build
      displayName: "npm install and build"
    - task: ArchiveFiles@2
      inputs:
          rootFolderOrFile: "$(Build.SourcesDirectory)/build"
          includeRootFolder: false
          archiveType: "zip"
          archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.Repository.Name).zip"
          replaceExistingArchive: true
    - task: PublishBuildArtifacts@1
      inputs:
          PathtoPublish: "$(Build.ArtifactStagingDirectory)"
          ArtifactName: "drop"
          publishLocation: "Container"
